@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --font-heading: "Inter", sans-serif;
  --spacing-lg: 2rem;
  --color-background: #ffffff;
  --color-foreground: #000000;
}

/* Override per dark mode */
.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
}
